<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>

</head>
<body>

  <header class="page-header">
    <h1><%= title.toUpperCase() %></h1>
  </header>

  <div class="all-locations">
    <% results.forEach(result => { %>
      <div class="location">
        <div class="location-image-container">
          <img class="location-image" width=300 src="<%= result.image_url %>" alt="Food">
          <p class="location-rating"><%= result.rating %>/5 ⭐</p>
        </div>
        <h3 class="location-heading"><%= result.name %></h3>
        <p><%= result.display_phone %></p>
        <p><%= result.location.address1 %></p>
        <p class="location-link"><a href="<%= result.url %>">View More</a></p>
      </div>
    <% }); %>
  </div>

  <footer class="page-footer">
      <small>&copy; Copyright <%= title.toUpperCase() %></small>
  </footer>

</body>
</html>